body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

header nav{
    background-color:rgba(65, 65, 65, 0.997);
    padding: 10px;
    text-align: center;
    transition: all 0.2s ease;
    border-bottom: 2px solid rgba(65, 65, 65, 0.997);
  }
  header nav a{
    color:white;
    text-decoration: none;
    border-bottom: 2px solid white;
  }

  h1 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #5d9e95;
}
input, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    padding:8px;
    padding-top:5px;
    padding-bottom:20px;
    border-radius: 4px; 
    border: 1px solid #ccc; 
    padding: 8px; 
    box-sizing: border-box;
}

button{
    background-color: #5d9e95;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}